@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');


body{
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  
}


h2{
    color:rgb(64, 153, 64);
  
}


.btn {
    background-color: rgb(64, 153, 64);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    padding: 3px 7px;
    font-size: 12px;

}

img{
  width: 200px;
}

.currency {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currency select{
  padding: 10px 20px 10px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #dedede;
  font-size: 16px;
}

.currency input{
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}

.swap-rate-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: rgb(64, 153, 64);
  font-size: 14px;
  padding: 0 10px;
}

select:focus, input:focus, button:focus{
  outline: 0;
}

@media(max-width: 600px){
  .currency input{
    width: 200px;
  }
}